@import './variables.scss';

$body-bg: rgb(243, 243, 233);
$body-color: $color5;
$theme-colors: (
  "primary": $color1,
  "secondary": $color5,
  "success":$color2,
  "info": $color3
);

@import '../node_modules//bootstrap/scss/bootstrap.scss';

div.main {
  margin-left: 5%;
  margin-right: 5%;
}