/* Coolors Exported Palette - coolors.co/00aaff-00ffff-2baaff-000000-3a3b3c */

/* HSL */
$color1: hsla(200%, 100%, 50%, 1);
$color2: hsla(180%, 100%, 50%, 1);
$color3: hsla(204%, 100%, 58%, 1);
$color4: hsla(0%, 0%, 0%, 1);
$color5: hsla(210%, 2%, 23%, 1);

/* RGB */
$color1: rgba(0, 170, 255, 1);
$color2: rgb(11, 199, 174);
$color3: rgb(1, 123, 204);
$color4: rgb(40, 187, 255);
$color5: rgb(56, 56, 54);
